# Ignore everything in the root
/*

# Whitelist: Do NOT ignore these specific folders/files
!/docs/
!.gitignore
!README.md
!LICENSE

# Ensure Quarto internal cache/metadata stays out, 
# even if it's inside a whitelisted folder
/.quarto/
.Rhistory
.RData
.Rproj.user